
  .container {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 100px;
      right: 10px;
      padding: 10px;
      width: 180px;
  }

  .wrapper {
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;
      align-items: center;
      a {
          text-decoration: none;
          font-size: 16px;
          color: white;
          text-transform: uppercase;
      }
  }

  .mobContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .badgeContainer {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }