.container {
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageWrap {
    margin-right: 10px;
    cursor: pointer;
}

.image {
    max-width: 40px;
    object-fit: fill;
    border-radius: 200px;
}
.wrrapermne {
    height: 70px;
    width: 70px;
    border-radius: 200px;
    cursor: pointer;
    background-image: url("../../images/montenegro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px;
}

.wrraperen {
    height: 70px;
    width: 70px;
    border-radius: 200px;
    cursor: pointer;
    background-image: url("../../images/britain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160px;
    margin-left: 10px;
}

.lang {
    font-size: 20px;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .container {
        position: static;
        margin-left: auto;
    }
}