// * {
//     font-family: 'Source Sans Pro', sans-serif;
// }

html {
  height: 100%;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/cbimage70.jpg");
  // background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: "Sans Pro", sans-serif;
  transition: all 0.1s ease;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 173, 238, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(27, 53, 97, 1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(27, 53, 97, 1);
}

:root {
  scrollbar-color: rgba(27, 53, 97, 1) rgba(0, 173, 238, 0) !important;
  scrollbar-width: thin !important;
}

h1,
h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
}

ul {
  padding-left: 20px;
}

.MuiTabScrollButton-root {
  color: white !important;
}

.MuiTabs-flexContainerVertical {
  .MuiTab-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
  .MuiTab-root {
    padding: 6px 0px;
  }
}

.carousel-root {
  width: 600px !important;
  height: 400px !important;
}
.carousel .thumbs-wrapper {
  display: none !important;
}

.carousel .carousel-status {
  color: black !important;
  text-shadow: none !important;
}

.carousel .control-dots {
  display: none !important;
}

.carousel.carousel-slider {
  height: 402px !important;
}
.MuiFormControl-root {
  margin-bottom: 15px !important;
}

@media screen and (max-width: 700px) {
  .carousel-root {
    width: 100% !important;
    height: 300px !important;
  }
  .carousel.carousel-slider {
    height: 302px !important;
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mr-4 {
  margin-right: 16px;
}

.ml-4 {
  margin-left: 16px;
}
.mb-4 {
  margin-bottom: 15px;
}

.mt-4 {
  margin-top: 15px;
}
.donate-text {
  line-height: normal;
}

.donate-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
