.outer {
    background-color: rgba(240, 91, 136, .7);
    width: 100%;
    height: 100vh;
    // clip-path: polygon(0% 0%, 35% 0%, 50% 30%, 20% 100%, 0% 100%);
    clip-path: path("M 0, 0 L 700, 0 L 930, 230 C 930 230, 990 280, 930 330 L 0, 1400");
    position: absolute;
    z-index: -2;
}

.inner {
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 53, 97, .65);
    // clip-path: polygon(0% 0%, 30% 0%, 45% 30%, 15% 100%, 0% 100%);
    clip-path: path('M 0, 0 L 550, 0 L 780, 230 C 780 230, 840 280, 780 330 L 0, 1150');
    position: absolute;
    z-index: -1;
}

.logo {
 width: 500px;
}

.navigation {
    z-index: 1;
    display: flex;
    margin-left: 37px;
}