.wrap {
  display: inline;
  align-items: center;
  margin: 0;
}

.link {
  margin-left: 0px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  color: #0000ee;
}

.svg {
  width: 30px;
  height: 30px;
}

.text {
  font-size: 1rem;
  color: black;
}

.titlewrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchinput {
  position: relative;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  outline: none;
  border-radius: 3px;
  color: rgb(35, 38, 59);
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
  :focus {
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
  }
}
