.outer {
    background-color: rgba(240, 91, 136, .7);
    width: 100%;
    height: 100vh;
    // clip-path: polygon(0% 0%, 35% 0%, 50% 30%, 20% 100%, 0% 100%);
    clip-path: path("M 0, 0 L 700, 0 L 930, 230 C 930 230, 990 280, 930 330 L 0, 1400");
    position: absolute;
    z-index: -2;
}

.inner {
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 53, 97, .65);
    // clip-path: polygon(0% 0%, 30% 0%, 45% 30%, 15% 100%, 0% 100%);
    clip-path: path('M 0, 0 L 550, 0 L 780, 230 C 780 230, 840 280, 780 330 L 0, 1150');
    position: absolute;
    z-index: -1;
}

.logo {
 width: 400px;
}

.navigation {
    z-index: 1;
    display: flex;
    margin-left: 37px;
    flex-direction: column;
    width: 400px;
}

.navWrap {
    display: flex;
}

.main {
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 20px;
    width: 100%;
    // padding-bottom: 10px;
}

.contentWrap {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    // padding-bottom: 100px;
}

.asideContent {
    width: 400px;
    position: absolute;
}


@media screen and (max-width: 700px) {
    .main {
        margin-left: 20px;
        margin-right: 40px;
        margin-top: 70px;
        width: calc(100% - 60px)
    }
    .asideContent {
        display: none;
    }
    .logo {
        display: none;
    }
    .outer {
        display: none;
    }
    .inner {
        clip-path: none;
    }
}
