h1, h2 {
    color: white;
}

h2 {
    font-size: 1.2rem;
}

a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: none;
}

.text {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    color: white;
}