.wrap {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.link {
    margin-left: 10px;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    text-transform: none;
}

.svg {
    width: 30px;
    height: 30px;
}

.text {
    font-size: 1rem;
    color: black;
}