.footerArea {
    height: 100px;
    width: 100%;
    background-color: rgba(27, 53, 97, 1);;
    position: fixed;
    padding: 5px 10px 0px 10px;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    object-fit: contain;
    height: 90px;
}

@media screen and (max-width: 700px) {
    .image {
        height: 40px;
    }
}