.wrap {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.link {
  margin-left: 10px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  color: #0000ee;
}

.linkreg {
  margin-left: 0px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  color: #0000ee;
}

.svg {
  width: 30px;
  height: 30px;
}

.text {
  font-size: 1rem;
  color: black;
}

.wrapAnchor {
  display: inline;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.commentAdd {
  display: flex;
  flex-direction: column;
}

.commentBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.backContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.iconWrap {
  display: flex;
  align-items: center;
}
