.container {
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    // padding: 5px;
    background-color: #1b3561;
    border-radius: 10px 0 0 10px;
}

.item {
    margin: 5px 10px 5px 5px;
}

.anchor {
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

