.container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 6px;
    // background-color: rgba(27, 53, 97, 1);
    // margin-left: 10px;
    border-radius: 5px;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 200px;
    background-color: #00adee;
    margin-right: 5px;
}

.circleRose {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 200px;
    background-color: rgb(255, 93, 143);
    margin-right: 5px;
}


@media screen and (min-width: 1200px) {
    .item {
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
}


@media screen and (min-width: 1400px) {
    .item {
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
}

.item {
    font-size: 18px;
    &:hover {
        color: #00adee
    }
}

.itemRose {
    font-size: 18px;
    &:hover {
        color: rgb(255, 93, 143);
    }
}

@media screen and (max-width: 700px) {
    .item {
        color:#00adee;
        font-size: 18px;
        text-decoration: none;
    }

    .itemRose {
        color: rgb(255, 93, 143);
        font-size: 18px;
        text-decoration: none;
    }
}