.wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.link {
    margin-left: 10px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: none;
}

.svg {
    width: 30px;
    height: 30px;
}

h1, h2 {
    color: white;
}